<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>Goals calendar</title>
		<link rel="stylesheet" href="{{stylesheet}}" />
		<link rel="icon" type="image/x-icon" href="{{favicon}}" />
		<meta name="author" content="Bruno Michel" />
		<meta name="description" content="Goals calendar is a Seinfeld calendar written in Google's Go" />
		<meta name="keywords" content="Jerry, Seinfeld, calendar, goals, days, check, go, motivation, streak, break, chain" />
	</head>
	<body>
		<h1>Goals calendar</h1>
		<div class="container">
			{{yield}}
		</div>
	</body>
</html>
